
<div class="flex items-center justify-center min-h-screen bg-gray-100 p-4">
  <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-lg shadow-md">
    <div class="text-center">
      <h2 class="mt-4 text-2xl font-bold">Restablecer Contraseña</h2>
      <p class="text-gray-600 mt-2">Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
    </div>
    
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" type="email" placeholder="ejemplo@lania.edu.mx" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
          El correo es requerido.
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
          Por favor, introduce un correo válido.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="w-full mt-4 py-6" [disabled]="!forgotPasswordForm.valid || isLoading">
        <mat-spinner *ngIf="isLoading" diameter="24" class="mr-2"></mat-spinner>
        <span *ngIf="!isLoading">Enviar Enlace de Restablecimiento</span>
        <span *ngIf="isLoading">Enviando...</span>
      </button>
    </form>

    <div class="text-center mt-4">
      <a routerLink="/login" class="text-sm text-blue-600 hover:underline font-medium">Volver al inicio de sesión</a>
    </div>
  </div>
</div>

