<div class="flex items-center justify-center min-h-screen bg-gray-100 p-4">
  <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-lg shadow-md">
    <div class="text-center">
      <h2 class="mt-4 text-2xl font-bold">Crear Nueva Contraseña</h2>
    </div>

    <div *ngIf="!token" class="error-message">
        <mat-icon>error_outline</mat-icon>
        <span>Token inválido o faltante.</span>
    </div>

    <form *ngIf="token" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button" aria-label="Toggle password visibility">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">
          La nueva contraseña es requerida.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">
          La contraseña debe tener al menos 8 caracteres.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="w-full mt-4 py-6" [disabled]="!resetPasswordForm.valid || isLoading">
        <mat-spinner *ngIf="isLoading" diameter="24" class="mr-2"></mat-spinner>
        <span *ngIf="!isLoading">Cambiar Contraseña</span>
        <span *ngIf="isLoading">Actualizando...</span>
      </button>
    </form>
     <div class="text-center mt-4">
      <a routerLink="/login" class="text-sm text-blue-600 hover:underline font-medium">Volver al inicio de sesión</a>
    </div>
  </div>
</div>