<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-lg shadow-md">
    <div class="text-center">
      <img src="assets/lania_logo.png" alt="LANIA Logo" class="mx-auto h-16 w-auto">
      <h2 class="mt-4 text-2xl font-bold">Crea tu Nueva Contraseña</h2>
    </div>

    <form *ngIf="token" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">
          La nueva contraseña es requerida.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">
          La contraseña debe tener al menos 8 caracteres.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="w-full mt-6" [disabled]="!resetPasswordForm.valid || isLoading">
        <span *ngIf="!isLoading">Cambiar Contraseña</span>
        <span *ngIf="isLoading">Actualizando...</span>
      </button>
    </form>

    <div *ngIf="!token" class="text-center text-red-500">
        <p>Token inválido o faltante.</p>
        <a routerLink="/login" class="text-sm text-blue-500 hover:underline">Volver al inicio de sesión</a>
    </div>
  </div>
</div>